[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/doctest"]
	path = deps/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "deps/dcmtk"]
	path = deps/dcmtk
	url = https://github.com/DCMTK/dcmtk.git
